.MuiButtonBase-root:hover{
    background-color: #8080803d !important;
    /* cursor: pointer; */
}
.MuiDrawer-paper{
    background: #18202c !important;
}
.clrwhite{
    color: rgba(255, 255, 255, 0.932) !important;
}
a{
    text-decoration: none !important;
}